<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Convine Review Japan" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "glassmorphism", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "select2", "data-turbo-track": "reload" %>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script>
      console.log('Layout script loaded');
      console.log('jQuery version:', typeof $ !== 'undefined' ? $.fn.jquery : 'not loaded');
      console.log('Select2 available:', typeof $.fn !== 'undefined' && $.fn.select2 ? 'yes' : 'no');
    </script>
  </head>

  <body>
    <%= render 'shared/flash_messages' %>
    <% if show_header? %>
      <%= render 'shared/header' %>
    <% end %>
    <%= yield %>
  </body>
</html>
